# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true

# Mojo language files
*.mojo linguist-language=Mojo
*.🔥 linguist-language=Mojo
